div {
    width: 200px;
    height: 400px;
}
.one{
    background-color: aqua;
    border: 3px solid red;
    box-sizing: border-box;
}
.two {
    background-color: blueviolet;
    border: 5px solid blue;
    box-sizing: border-box;
}
.three {
    background-color: brown;
    box-sizing: border-box;
    border: 4px dashed black;
    border-left-style: dotted;
}